body{
    margin: 0;
    padding: 0;
    background-color: rgba(14, 170, 64, 0.267);


}

.header{

background-color: rgb(10, 119, 12);
color: rgb(197, 210, 221);
text-align: center;
padding: 5px 0px;



}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;



}
.card{
    background-color: #97faa5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 1.5em;
    text-align: center;

}
.card img {
    max-width: 100%;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.card p{
    font: arial, normal , 12pt;
    color: black;

}
.card p{
    text-align: justify;


}



.card h2{
    text-align: left;
    font-size: 14pt;
    font-size: 18px;
    color: rgb(22, 128, 194);;
}



    </style>
